* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  width: 100%;
  height: 100vh;
  /* background-color: aquamarine; */
}

/* ----------------------------------------------------------------------- navbar ----------------------------------------------------------------- */

#navbar {
  z-index: 999;
  top: 0;
  position: fixed;
  width: 100%;
  /* height: 60px; */
  background-color: white;

  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  transition: top 0.3s;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}
.navleft {
  width: 10%;
  /* background-color: beige; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.navlogo {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  width: 100px;
}

.navlogo img {
  width: 100%;
}

.navright {
  /* background-color: bisque; */
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.themetoggle {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: azure; */
}

.navbuttons {
  /* background-color:aquamarine; */
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbuttons a {
  text-decoration: none;
  color: black;
  font-family: "Jersey 10", sans-serif;
  font-size: 20px;
  /* border: 2px solid black; */
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.navbuttons a:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 0;
  border: 1px solid black;
}

.themetoggle button {
  background-color: transparent;
  width: 60px;
  height: 30px;
  border-radius: 15px;
}

/*---------------------------------------------------------------- Home-------------------------------------------------------------------------------  */

#home {
  height: 100vh;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* padding-bottom: 60px; */
  background-image: url(img/bg2.jpg);
  /* background-attachment: fixed; */
  background-size: cover;
}

.homecontent {
  width: 95%;
  height: 400px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid black;
  display: flex;
  /* padding: 10px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.contentleft {
  /* background-color: blanchedalmond; */
  height: 100%;
  width: 70%;
  padding: 30px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.heroname {
  /* background-color: aqua; */
  display: flex;
  margin: 10px 0;
  /* align-items: center; */
  /* width: 30%; */
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 20px;
  font-family: "Pixelify Sans", sans-serif;
}

.heroname h2 {
  margin: 30px 0 10px 0;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.herodetails {
  /* background-color: aquamarine; */
  display: flex;
  margin-top: 40px;
  font-family: "Jersey 10", sans-serif;
  font-size: 24px;
}

.contentright {
  /* background-color: bisque; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 30%;
}

.contentright img {
  width: 100%;
  /* border: 2px solid black; */
}

.homescroll {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  /* display: flex;
 justify-content: center; */
}

.wrapper {
  padding: 4px 0;
  font-size: 20px;
}

.marquee-text {
  overflow: hidden;
  display: flex;
}

.marquee-text-track {
  display: flex;
  white-space: nowrap;
  gap: 100px;
  width: max-content;
  animation: marquee-move-text 20s linear infinite;
  padding-left: 100px;
}

.marquee-text p {
  border: 2px solid white;
  border-radius: 99px;
  padding: 5px 10px;
}

@keyframes marquee-move-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.homebuttons {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.homebuttons button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid black;
  font-family: "Jersey 10", sans-serif;
  font-size: 24px;
  transition: all 0.3s ease;
}

.homebuttons button:hover {
  transform: scale(1.05);
  transform: translateX(3px);
  transform: translateY(-3px);
  box-shadow: 3px 3px 0;
  /* border: 2px solid black; */
}

.hbleft {
  /* background-color: brown; */
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

/* ------------------------------------------------------------About Section --------------------------------------------- */

#about {
  width: 100%;
  height: 100vh;
  /* background-color: black; */
  padding: 20px;
}

.aboutcontainer {
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.abouttop,
.skillstop {
  width: 100%;
  height: 4%;
  /* background-color: bisque; */
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
}

.abouttopbuttons,
.skillstopbuttons {
  display: flex;
  justify-content: space-evenly;
  /* background-color: aqua; */
  width: 5%;
}

.redbutton,
.yellowbutton,
.greenbutton {
  height: 15px;
  width: 15px;
  border-radius: 15px;
}
.redbutton {
  background-color: red;
}
.yellowbutton {
  background-color: yellow;
}
.greenbutton {
  background-color: lightgreen;
}

.abouttopdet {
  /* background-color: aqua; */
  width: 95%;
  display: flex;
  justify-content: center;
  margin-right: 70px;
  font-family: "Jersey 10", sans-serif;
  font-size: 24px;
  font-weight: 10;
}

.aboutsec {
  /* background-color: bisque; */
  height: 96%;
  width: 100%;
}

.aboutwin {
  height: 90%;
  width: 100%;
  /* background-color: aqua; */
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.aboutdock {
  height: 10%;
  width: 100%;
  /* background-color: beige; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dockdiv {
  height: 60px;
  width: 500px;
  border: 2px solid black;
  /* background-color: palegoldenrod; */
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 28px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.dockdiv i {
  transition: all 0.3s ease;
}

.dockdiv i:hover {
  transform: scale(1.5);
  /* color: purple; */
}

.aboutwintop,
.aboutwinbottom {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2px;
  /* background-color: aquamarine; */
}

/* .aboutwinbottom {
  background-color:bisque;
} */

.skillstab,
.xptab {
  width: 50%;
  height: 100%;
  /* background-color: bisque; */
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  display: none;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.xptab {
  min-width: 30%;
  max-width: 50%;
}

.skillstopbuttons {
  width: 70px;
}

.skillstop {
  height: 20px;
}

.skillstabbottom {
  height: 93%;
  width: 100%;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jersey 10", sans-serif;
  padding: 10px;
}

.filescontent {
  width: 90%;
  height: 90%;
  /* background-color: cornsilk; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.fileicon {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileicon img {
  width: 100%;
}
.qualitiescontent {
  width: 90%;
  text-align: center;
}
.qualitiescontent li {
  font-size: 24px;
}
.qualitiescontent li:hover {
  font-size: 28px;
  color: gold;
}

.educationcontent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: crimson; */
}

.ug {
  /* background-color: darkkhaki; */
  padding: 10px;
  font-size: 22px;
}

.ugtop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.ugbottom {
  display: flex;
  justify-content: space-between;
}
.ruler hr {
  border: 2px solid black;
}

.skillmarquee {
  width: 90%;
  overflow: hidden;
  /* background-color: cornflowerblue; */
  white-space: nowrap;
  position: relative;
}

.skillmarquee:before,
.skillmarquee:after {
  position: absolute;
  top: 0;

  width: 100px;
  height: 100%;
  z-index: 2;
  content: "";
}
.skillmarquee:before {
  left: 0;
  background: linear-gradient(to left, transparent, rgb(255, 255, 255));
}
.skillmarquee:after {
  right: 0;
  background: linear-gradient(to right, transparent, rgb(255, 255, 255));
}

.skill-slide {
  display: inline-block;
  animation: slide 20s infinite linear;
  /* display: flex;
  flex-wrap: nowrap; */
}

.skill-slide img {
  height: 120px;
  margin: 0 40px;
}

.skillmarquee:hover .skill-slide {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* -----------------------------------------------------------Contact Section--------------------------------------------- */

#contact {
  width: 100%;
  height: 100vh;
  /* background-color: plum; */
  display: flex;
  background-image: url(img/bg4.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.contactleft {
  width: 50%;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.formdiv form {
  width: 600px;
  height: 700px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  font-family: "Jersey 10", sans-serif;
  font-size: 20px;
  /* position: relative; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.formdiv input,
.formdiv button,
.formdiv textarea {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  height: 50px;
  font-size: 18px;
  border-radius: 25px;
  padding: 0 10px;
}

.formdiv button {
  font-family: "Jersey 10", sans-serif;
  font-size: 32px;
}

.formdiv button:hover {
  color: white;
  background-color: black;
}
.formdiv textarea {
  padding: 20px;
}
.formdiv .messagebox {
  height: 250px;
  /* background-color: blue; */
}

.formdiv form input::placeholder {
  font-size: 16px;
}

.formdiv label {
  color: black;
  border: 2px solid black;
  width: 80px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  padding: 2px;
}

.contactright {
  width: 50%;
  height: 100%;
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Pixelify Sans", sans-serif;
}

.contactheading {
  background-color: white;
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
  padding: 5px;
  box-shadow: 5px 5px;
  border-radius: 20px;
}

.contactheading h2 {
  border-bottom: 1px solid black;
  padding: 20px;
}

.numbermail {
  background-color: white;
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px;
  border: 2px solid black;
}

.numbermail h3 {
  font-size: 24px;
}

.numbermail p {
  font-size: 24px;
  font-family: "Jersey 10", sans-serif;
}

.number,
.email,
.whatsapp {
  width: 90%;
  /* background-color: beige; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid black;
}

/* -----------------------------------------------------------Footer----------------------------------------------------- */

#footer {
  width: 100%;
  height: 25vh;
  background-color: white;
  border-top: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Jersey 10", sans-serif;
}

.footertop {
  height: 60%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 10px;
}

.footertopleft {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.footertopright {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerleftbottom,
.footerrightbottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footertop a {
  text-decoration: none;
  color: black;
  font-size: 26px;
}

.footertop p {
  font-size: 32px;
}

.footerbottom {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footerbottom p {
  font-size: 24px;
}

/* --------------------------------------------------------overlay------------------------------------------------------ */

#overlay {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.connectdiv {
  width: 700px;
  height: 250px;
  background-color: white;
  /* margin: 100px; */
  position: absolute;
  border-radius: 10px;
}

.connectdivtop {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-family: "Jersey 10", sans-serif;
  font-size: 24px;
  border-bottom: 2px solid black;
}
.connectdivtop button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: transparent;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 20px;
  border: 2px solid black;
  /* color: white; */
}

.connectdivtop button:hover {
  background-color: black;
  color: white;
}

.connectdivbottom {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  padding: 30px;
}

.connecticons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: antiquewhite; */
  font-size: 28px;
}

.connecticons a {
  transition: all 0.3s ease;
  color: black;
}

.connecticons a:hover {
  transform: scale(1.5);
}
